<!doctype html>
<html lang="us">
<head>
        <meta charset="utf-8">
        <title>jQuery UI Example Page</title>
        <link href="/static/jquery-ui-1.10.3.custom/css/blitzer/jquery-ui-1.10.3.custom.css" rel="stylesheet">
        <!-- Le styles -->
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        <script src="/static/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>
        <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>




 <style>
		.chat_window{
    			position: relative;
    			text-align: left;
    			margin-left: 170px;
			}
		.chat_group{
    			float: left;
    			padding-left:50px;
    			position: relative;
    			height:100px;	
			}	
	</style>
</head>
<body>
<div class="chat_window">
	<h1> chat list</h1>
	<script  type="text/javascript">
	var auto_refresh = setInterval(
		function getlist()
		{
			$.get('/getclientlist/',
			function(return_data)
				{
				online_clients = JSON.parse(return_data);
				//$ (".chat_group").html("");
				//var ele=$("<p><br/></p>");
				//ele.html(online_clients);
				//ele.appendTo(".chat_group");
				//$("clientlist").append()
				//clientlist=return_data;
				//online_clients="return_data"
				alert(online_clients);
				for(i=0;i<online_clients.length;i++){
				//	alert(online_clients[i]);		
				$("#list").append('<li><a id="23-link">'+online_clients[i]+'</a></li>');					
					}
				getlists= document.getElementById("list")
				return getlists;
				   } //end callback func*/
				); //end get 2
				/*{% for clientname,contact_list in online_clients.items %}
				<h2>{{clientname}}</h2>
				{% endfor %}*/	
			
			},7000);
	</script>
		<div class="chat_group" id="lst">	                         
			{% for a in getlist%}
			<p>how is {{a}}</p>
			{% endfor%}
	</div> 
</div>



</body>
</html>
